.App {
  text-align: center;
  height: 800px;
  background-image: url('./tirza-van-dijk-aGx7X1VmFIY-unsplash.jpg');
  background-size: cover;

}

Form {
  width: 80%;
  max-width: 500px;
  padding: 15px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 232, 232);
}

input {
  height: 20px;
  border-radius: 5%;
}

button {
  max-width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(48, 75, 48);
}

legend {
  color: rgb(194, 187, 187);
}